.hero{
    background-color: var(--body-color-light);
    height: 110vh;
    .hero__info{
        grid-column: 2/7;
        transform: translateY(-40%);
        z-index: 1;
        h1{
            font-weight: var(--font-medium);
            color: var(--akcent);
            span{
                font-style: italic;
                font-size: var(--h1-font-size);
            }
        }
        h3{
            margin: 2rem 0;
            color: var(--akcent);
        }
        .hero_button{
            color: var(--akcent);
            text-transform: uppercase;
            font-size: 1.5rem;
            background-color: transparent;
            font-weight: var(--font-bold);
            &:hover{
                color: var(--text-color-dark);
            }
        }
    }
    .hero__image{
        grid-column: 7/12;
        z-index: 1;
    }
    .light{
        opacity: .2;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 120vh;
    }
}

