.hero{
    background-color: var(--body-color-light);
    height: 110vh;
    .hero__info{
        grid-column: 2/7;
        transform: translateY(-10%);
        z-index: 1;
        h1{
            font-weight: var(--font-medium);
            color: var(--akcent);
        }
        h4{
            margin: 2rem 0;
            line-height: 1.2;
        }
        // .hero_button{
        //     color: var(--akcent);
        //     text-transform: uppercase;
        //     font-size: 1.5rem;
        //     background-color: transparent;
        //     font-weight: var(--font-bold);
        //     &:hover{
        //         color: var(--text-color-dark);
        //     }
        // }
        .button__secondary{
            background-color: transparent;
        }
    }
    // .hero__image{
    //     grid-column: 7/12;
    //     z-index: 1;
    // }
    .light{
        // opacity: .2;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 120vh;
    }
}

/* ========= BRAKEPOINTS ========= */
/* For large devices */
@media screen and (max-width: 992px) {
    .hero{
        height: 90vh;
        .light{
            height: 90vh;
        }
    }
  }
  
  /* For medium devices */
//   @media screen and (max-width: 740px) {
//     .hero{
//         .hero-info{
//             h3{
//                 font-size: 1rem;
//             }
//         }
//     }
//   }
  
// @media screen and (max-width: 576px) {
//     .hero{
//         // .hero__image{
//         //     // transform: scale(2) translateY(10%);
//         // }
//     }
// } 
  /* For small devices */
  @media screen and (max-width: 500px) {
    .hero{
        align-items: baseline;
        height: 820px;
        .hero__info{
            position: relative;
            
            // border-radius: 1rem 1rem 0 0;
            grid-column: 1/13;
            padding: 3rem 2rem;
            z-index: 3;
            text-align: center;
            // backdrop-filter: blur( 30px );
            background-color: var(--body-color-light);
            box-shadow: 0 -8px 32px 0 rgba( 31, 38, 135, 0.1 );
            .button__secondary{
                background-color: var(--akcent);
                color: var(--text-color-light);
            }
            h4{
                background-color: rgba(215,230,238, $alpha: 0.8);
                padding: .5rem;
                border-radius: 1rem;
            }
        }
        .light{
            height: 80vh;
            display: block;
            top: 340px;
            // left: -100px;
            object-fit: cover;
            object-position: 82% 50%;
    }
  }
}
