.kontakt{
    background-color: var(--body-color-dark);
    padding-bottom: 0;
    h1, h2, h3, p{
        color: var(--text-color-light);
    }
    p{
        margin: .7rem 0;
    }
    h2{
        margin-bottom: 3rem;
    }
    .kontakt__info{
        grid-column: 2/5;
        .fb{
            display: flex;
            align-items: center;
            gap: .5rem;
            img{
                width: 20px;
                height: 20px;
            }
        }
    }
    .kontakt__logo{
        grid-column: 5/12;
        width: 200px;
    }
    .mewa{
        width: 200px;
        position: absolute;
        bottom: 2rem;
        right: 10vw;
    }
    footer{
        grid-column: 2/12;
        display: flex;
        border-top: 1px solid var(--text-color-light);
        align-items: center;
        gap: 2rem;
        padding: 1rem 0;
        p{
            margin: 0;
        }
    }
}

@media screen and (max-width: 413px) {
    .kontakt{
        .kontakt__info{
            grid-column: 2/12;
        }
        .kontakt__logo{
            grid-column: 2/12;
        }
        .mewa{
            width: 150px;
            right: 1.5rem;
        }
        footer{
            margin-top: 3rem;
        }
    }
}