.onas{
    height: 100vh;
    background-color: white;
    align-items: start;
    padding-top: 200px;
    z-index: 1;
    .onas__tytul{
        grid-column: 2/6;

    }
    .onas__info{
        grid-column: 6/12;
    }
    .mewa{
        width: 200px;
        position: absolute;
        top: 50vh;
        left: 10vw;
    }
}
