.onas{
    // height: 100vh;
    background-color: white;
    align-items: start;
    // padding-top: 200px;
    z-index: 1;
    .onas__tytul{
        grid-column: 2/6;

    }
    .onas__info{
        grid-column: 6/12;
        h3{
            line-height: 1.2;
            span{
                font-weight: var(--font-bold);
                line-height: 2;
            }
        }
    }
    .mewa{
        width: 100px;
        grid-column: 2/6;
        // position: absolute;
        // top: 50vh;
        // left: 10vw;
    }
}
@media screen and (max-width: 768px) {
    .onas{
        padding-top: 100px;
    }
}
  /* For small devices */
  @media screen and (max-width: 413px) {
    .onas{
        align-content: start; 
        gap: 2rem;
        height: auto;
        .onas__tytul{
            grid-column: 2/12;
        }
        .onas__info{
            grid-column: 2/12;
        }
        .mewa{
            position: relative;
            grid-column: 2/12;
            top: 0;
            left: 0;
            width: 100px;
        }
    }

  }