.onas{
    height: 100vh;
    background-color: white;
    align-items: start;
    padding-top: 200px;
    .onas__tytul{
        grid-column: 2/6;
        // h2{
        //     color: var(--text-color-light);
        // }
    }
    .onas__info{
        grid-column: 6/12;
        // h3{
        //     color: var(--text-color-light);
        // }
    }
}
