.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 300px;
  position: absolute; /* Absolute positioning for centering */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the modal content */
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10; /* Ensure modal is above other elements */
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}