.dark{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.178);
}
.modal {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--body-color-light);
  border-radius: 1rem;
  z-index: 10; 
}
.modal-close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
  background-color: var(--body-color-light);
  svg{
    width: 1.5rem;
    height: 1.5rem;
    transform: rotate(45deg);
  }
}
 /* For small devices */
 @media screen and (max-width: 413px) {
    .modal{
      width: 300px;
      flex-direction: column;
    }
 }