.wynik{
    margin: 0;
    padding: 0;
    height: auto;
    .nawigacja{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .4rem 2rem;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 5;
        backdrop-filter: blur( 7.5px );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.07 );
        .logo{
            text-transform: uppercase;
            display: flex;
            align-items: center;
            gap: 1rem;
            img{
                width: 2rem;
                height: 2rem;
            }
        }
    }
    .content{
        grid-column: 4/10;
        // height: 100vh;
        padding-top: 20vh;
        .header{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .share{
                display: flex;
                align-items: center;
                gap: 1rem;
                p{
                    padding-right: .5rem;
                    border-right: 1px solid var(--text-color-dark);
                }
                button{
                    background-color: var(--body-color-light);
                    img{
                        height: 1.5rem;
                        width: 1.5rem;
                        border-radius: .2rem;
                    }
                }
            }
        }
        p{
            margin: 1rem 0;
        }
        .chart{
            width: 100%;
        }
        .mobile-share{
            display: none;
        }
        .legend{
            margin: 5rem 0;
            span{
                font-weight: var(--font-bold);
            }
        }
    }
    
}
 /* For small devices */
 @media screen and (max-width: 413px) {
    .wynik{
        .content{
            grid-column: 2/12;
            // height: 100vh;
            .header{
                .share{
                    display: none;
                }
                h3{
                    font-weight: var(--font-bold);
                }
            }
            .mobile-share{
                margin: 2rem 0;
                display: flex;
                align-items: center;
                gap: 1rem;
                p{
                    padding-right: .5rem;
                    border-right: 1px solid var(--text-color-dark);
                }
                button{
                    background-color: var(--body-color-light);
                    img{
                        height: 1.5rem;
                        width: 1.5rem;
                        border-radius: .2rem;
                    }
                }
            }
            .legend{
                margin: 2rem 0;
            }
        }
    }
 }
